node_modules/
.anchor
**/*.rs.bk
build/
dist/
lib/
deploy/
docs/lockup-ui/
.DS_Store
*~
npm-debug.log*
pnpm-debug.log*
pnpm-error.log*
*.css
*.css.map
js/.eslintcache
target
.env
.vscode
bin
config.json
node_modules
./package-lock.json
target/**/*.so
.cache
.turbo/
